.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  margin-top: 5vh;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0px 3px 6px rgba(208, 218, 230, 0.9);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.avatar {
  display: flex;
  max-width: 30%;
  border-radius: 50%;
  background-color: rgba(168, 116, 168, 0.527);
}

.userName {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #122236;
}

.userTag,
.userLocation {
  margin: 0.5rem;
  font-size: 1.1rem;
  color: #808f9d;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.1rem;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(243, 246, 249, 0.833);
}

.statsFollowers {
  border-radius: 0 0 0 0.5rem;
}

.statsViews {
  border-left: 1px solid #d3d5e3;
  border-right: 1px solid #d3d5e3;
}

.statsLikes {
  border-radius: 0 0 0.5rem;
}

.label {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #808f9d;
}
.quantity {
  font-weight: bold;
  border-radius: 0.5rem;
  color: #213042;
}
